{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167548724-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-167548724-1');
  </script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Learn more about certified home inspectors, how to find home inspectors near you, and what to look for in a home inspection.">
  <meta name="author" content="RB Companies LLC">

  <title>The Definitive Guide to Home Inspections</title>

    <!--Favicons-->
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'homepage/images/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'homepage/images/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'homepage/images/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'homepage/images/site.webmanifest' %}">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{% static 'blog/css/blogpost3styles.css' %}" media="screen and (min-device-width: 600px)">
  <link rel="stylesheet" href="{% static 'blog/css/blog3stylesmobile.css' %}" media="screen and (max-device-width: 600px)">

</head>

<body>

  <header class="masthead mb-auto">
    <div class="container">

      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/rfq">Quote</a>
        <a class="nav-link" href="/about">About</a>
        <a class="nav-link" href="/faq">FAQ</a>
        <a class="nav-link active" href="/blog">Blog</a>
      </nav>
    </div>
    <h3 class="masthead-brand">
      <img src="{% static '/homepage/images/logo_homes.png' %}" width="291" height="170">
    </h3>
  </header>

  <!-- Page Content -->
  <div class="container move_up">
    <!-- Post Content Column -->
    <div class="">

      <!-- Title -->
      <h1 class="mt-4">The Definitive Guide to Home Inspections</h1>

      <hr>

      <!-- Date/Time -->
      <p>Posted on May 24, 2020 at 4:07 PM</p>

      <hr>

      <!-- Preview Image -->
      <img class="img-fluid rounded" src="{% static '/blog/images/crawlspace.png' %}" alt="A home inspector performing a crawl space check." width="600" >

      <hr>
      <p class="lead"> <i>For homebuyers, and first-timers in particular, home inspections can be a completely unfamiliar thing. Yet, consumers have continued to recognize their importance over the years, as ASHI reports that 95% of home purchasers order an inspection. To help fill in curious prospective buyers about home inspections, we put together a Definitive Guide to answer the most frequently asked questions. By the end of this post, you will be familiar with what goes on during a home inspection, what to look for in a home inspector and how much to pay, and what to do after an inspection.</i></p>

      <h3> What does a home inspector look for? </h3>
      <p> Most homebuyers want to know (and rightly so) what their hard-earned cash is buying when it comes to the inspection. Specifically, they ask what the home inspector will be looking for when he or she arrives to perform the inspection.</p>
      <p>At the highest level, the home inspector will primarily be concerned with pointing out defects that lead to two main issues: water and safety. When it comes to water, defects that are left unaddressed will almost certainly lead to some of the most expensive repairs over time. In fact, a common saying in the home inspection industry is “water bankrupts.” On the other hand, some defects that could compromise safety would include poor structural or foundational elements, presence of harmful substances like asbestos, radon, or mold, and faulty electrical systems. Inspectors will find and document anything at the property that could contribute to water damage or safety concerns during the time which you would expect to own the home. </p>
      <p>The order in which home inspectors traverse the house is a matter of personal preference. When it comes to the exterior, including the roof, the inspector will be looking for structural, foundational, and drainage defects. For example, the inspector will be checking to see that drain pipes carry water far enough away from the foundation of the home, and that there is no significant amount of ground erosion near the foundation. Of lesser concern may be chipped or faded paint jobs, but they are still worth pointing out since they could impact the value of the home. Lastly, on the exterior, the inspector will open and examine the electrical panel to make sure all the breakers and wiring are attached and functioning properly.</p>
      <p>On the interior, the inspector will travel from room to room, and will again make sure everything in the home is both safe and resistant to leaks. This includes testing appliances and plumbing fixtures, monitoring the voltage of electrical outlets, and pointing out evidence of moisture damage. If it is safe to do so, the inspector will go into the crawl space to observe any potential damages or defects.</p>
      <p>Finally, the inspector will pull serial numbers and data tags from all appliances and HVAC units where possible. He or she will be checking to make sure that there are no systems that have been recalled, as these could present a safety risk to the inhabitant and signal a necessary repair.</p>
      <p>The inspector should be taking copious notes and photos as he or she moves around the home in order to generate the most accurate and thorough report possible. A solid home inspector may take up to 500 photos to include later in the report.</p>

      <h3> What will fail a home inspection and what are the most common problems? </h3>
      <p> The best home inspectors will have a keen sense for details. Aging homes can have plenty of defects, many of which will be completely missed by the untrained eye. Normal wear and tear like cracked driveways and paint jobs for example, while not urgent fixes, will alter the value of the home, and present some of the most common problems. </p>
      <p> Remember, the purpose of your home inspection is to prevent you from overpaying for the property by taking inventory of issues you may not have noticed previously. Technically speaking, nothing will cause a home inspection to fail. The inspector’s job is not to provide a passing grade on the home, but to create an exhaustive list of defects for the party purchasing the inspection.</p>

      <h3> What fixes are mandatory after a home inspection? </h3>
      <p> As a homebuyer, it’s smart to negotiate inspection contingencies when making an offer on a home. That way, if your home inspection does reveal a defect that is particularly concerning, you won’t be held to your original offer price and will be given room to negotiate. Depending on the severity of the defect, it might be reasonable for a buyer to back out of the deal even without a pre-negotiated inspection contingency, but you should be prepared to face more pushback from the seller in this case.</p>
      <p> This is all to point out that, without specific language relating to inspection contingencies when you make an offer, no fixes are mandatory, strictly speaking. However, suggested fixes would include defects that present an immediate safety concern or violate local building codes. For example, structural or foundational defects should be remedied prior to closing on the home, or else the seller should provide credits towards those fixes upon closing. 
      <figure>
        <img src="{% static 'blog/images/erosion.png' %}">
        <figcaption > <i>A good example of erosion near the foundation of the home. This indicates pooor drainage, and would raise an issue during a home inspection.</i> </figcaption>
      </figure>
      </p>

      <h3> How much does a home inspection cost? </h3>
      <p> The cost of a home inspection depends on several factors. Obviously, a larger home will take longer to inspect, and thus a key determinant of the cost of the inspection will be the square footage of the home. Condos and townhouses, for example, tend to cost substantially less to inspect than full-sized, freestanding homes. Also, older homes tend to have more nuances and irregularities, and will make for a more complex inspection, so most inspectors will include surcharges based on the age of the home. Finally, the addition of different options, like a radon test or pool inspection, will add to the final cost. The average home inspection cost, which is a base inspection without any extras for a 2,000 square foot home, is around $450 in the US. </p>
      <p> Of course, every home is different, which is why we built a free, instant inspection quoting tool which will provide an estimate specific to your address. Rather than call several home inspectors and be restricted times of day, you can use our free tool whenever is convenient to you in order to understand how much you should be paying to get an inspection for your specific home. </p>

      <h3> How do I find a home inspector near me? </h3>
      <p> Historically, realtors had been helpful in referring their clients to local home inspectors whom they had worked with in the past. Given the vast amount of information available on the internet, it’s now recommended that homebuyers do their own research in finding a home inspector for several reasons. First, it’s possible that some real estate agents refer their clients to particular inspectors based on relationships rather than inspection price or quality. Second, real estate agents may be inclined to refer to inspectors who pay a bit less attention to detail and are thus less likely to derail a potential transaction. </p>
      <p> When having your next home inspected, you want to be sure the inspector you hire is giving you a complete and accurate account of the defects that exist in the house. Thus, it’s recommended that you use a simple online tool like Inspecty Homes to get an unbiased quote and referral to a certified home inspector in your area. </p>
      <p> There are several certifications we check for before recommending a home inspector to you. First and most importantly, we check for the necessary state licenses when dealing with an inspection in a state that requires them. Next, we look for a standardized national certification, like one from ASHI or NACHI, to ensure that the inspector has met a minimum for educational and training requirements, and has otherwise remained in good standing with respect to his or her practice as a home inspector. At Inspecty Homes, we know exactly what to look for, and check for it automatically, so you can trust that the home inspector we recommend for your job meets the high standards of reputable national organizations.</p>

      <figure>
        <img src="{% static 'blog/images/driveway.png' %}">
        <figcaption > <i> While not urgently in need of fixing, cracks in a driveway can present safety issues and will be noted on a home inspection.</i> </figcaption>
      </figure>
      </p>

      <h3> Who should pay for a home inspection? </h3>
      <p> Typically, home inspections are purchased by a buyer who has an offer accepted, but prior to closing. However, this does not have to be the case. It is possible for a prospective homebuyer to purchase an inspection prior to making an offer, which can increase the likelihood the offer gets accepted. In the seller’s eyes, having an inspection done prior to making an offer shows initiative and commitment on the part of the buyer, and means the buyer knows and understands the risks associated with purchasing that particular home, whereas an offer from a buyer without a prior home inspection could mean conflict and delays down the road.</p>
      <p> Alternatively, a motivated seller could purchase a home inspection, and offer a copy of the inspection report to prospective buyers in order to speed up the transaction process. This is rarer, but it is a good idea if the seller is in a rush and wants to gain every advantage in selling the home fast.</p>

      <h3> What home inspection companies are there? </h3>
      <p> Most home inspectors are independent, small business operators, and do not belong to any kind of larger network or company. Typically, there are local certifications and licenses that must be obtained before providing home inspection services, but beyond these, an inspector can operate in isolation of any larger organizations.</p>
      <p> However, some franchises do exist in order to help drive business to local inspectors through brand recognition. Some of the larger franchises in the United States include Pillar to Post Home Inspectors and WIN Home Inspection. However, neither Pillar to Post Home Inspectors nor WIN Home Inspection has coverage in all 50 states, so these networks are by no means exhaustive in terms of serving the US. This fact underscores the point that home inspection is at its core a local, small business.</p>
      <p> Wherever you are in the US, Inspecty Homes can help you find the right inspector for your job. We are familiar with all the necessary certifications requirements to operate in any part of the US, and have the means and network to route you to a professional home inspector for the best price possible near you.</p>

      <h3> How long does a home inspection take?</h3>
      <p> A home inspection should last between 2-4 hours. Again, this will depend on the size and age of the house. </p>

      <h3> Should I be present for a home inspection?</h3>
      <p>Generally, the answer is yes, but ultimately that is up to you. Once the inspection is complete, you will receive a copy of the inspection report, which should detail all of the defects the inspector found when examining the home. Your real estate agent should help you review the results of the inspection and determine how to proceed, so, in theory, you do not need to be present for the home inspection in order to reap its benefits. However, if you are serious about purchasing the home, it’s better to be present with the inspector on the day of the inspection so you can ask any questions you may have about the issues being surfaced. Once the inspection is over, your window to have these questions answered will close, and you will have to rely on the language of the report to understand how to proceed with respect to closing on the home. </p>

      <h3> What does a home inspection not cover? </h3>
      <p> While inspectors are there to point out defects, the inspector should not be giving specific advice about how to fix the issue or how much it should cost. It is also a matter of ethics that the inspector himself or herself does not perform contracting work on the home being inspected, at least for a period of time outlined in industry group and state regulations. Even recommending specific contractors is beyond the scope of the inspector’s job. </p>
      <p> The best thing to do once an inspection is complete is to take the list of issues that were found to a general contractor and ask how much they would cost to fix. This information is power: you can and should use it as leverage in negotiating a closing with the seller.</p>
      <p> Also note that, typically, the base home inspection price does not cover examinations specific to mold, termites or pests, well flow, pools, and radon. However, these are usually available as upgrades to the base inspection, and you should ask the inspector upfront if you expect to require any of these special additions to avoid surprise upcharges later. </p>

      <br>
      <p><i> Like this post? Follow <a href="https://twitter.com/InspectyHomes"> @InspectyHomes </a> on Twitter for more content</i></p>


      <hr>
    </div>

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5">
    <div class="container">
      <p class="m-0 text-center">&copy; RBCo 2020</p>
    </div>
    <!-- /.container -->
  </footer>
  <!-- Bootstrap core JavaScript -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>

</html>
